:root {
  --font: 'Plus Jakarta Sans', sans-serif;
  --header-height: 50px;
  --background-transparent-dark: hsla(235, 16%, 15%, .1);
  --purple-light: 243, 100%, 82%;
  --purple: 242, 48%, 58%;
  --medium-gray: 216, 15%, 57%;
  --dark-black: 237, 100%, 4%;
}


html,
body {

  padding: 0;
  margin: 0;
  font-family: var(--font);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
